@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "cupcake";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #FFFFFF;
  --color-base-200: #f8fafc;
  --color-base-300: #e2e8f0;
  --color-base-content: #0f172a;
  --color-primary: #0f172a;
  --color-primary-content: #FFFFFF;
  --color-secondary: #f1f5f9;
  --color-secondary-content: #0f172a;
  --color-accent: #334155;
  --color-accent-content: #FFFFFF;
  --color-neutral: #1e293b;
  --color-neutral-content: #FFFFFF;
  --color-info: #2676ff;
  --color-info-content: #FFFFFF;
  --color-success: #07cc4c;
  --color-success-content: #166534;
  --color-warning: #fef08a;
  --color-warning-content: #854d0e;
  --color-error: #fb0b5b;
  --color-error-content: #EEE;
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 1;
  --noise: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Serif Pro', serif !important;
}

body {
  min-height: 100vh;
  font-family: 'Montserrat Variable', sans-serif !important;
}

input,
textarea {
  outline: none;
}


.calendar .rdp-chevron {
  fill: var(--color-primary);
}